@use 'sass:color'
@use 'variables' as*

// Миксины
=btn($bg, $color)
  font-size: 11px
  color: $color
  background-color: $bg
  border-radius: 0
  margin-top: $space-v
  margin-bottom: $space-v * 2
  text-transform: uppercase
  padding: 10px 10px
  line-height: 1

=subtitle($color)
  color: $color
  text-transform: uppercase

=listname($color)
  color: $color
  font-weight: 400

=checklist($icon-path)
  list-style-image: url(#{$icon-path})
  margin: 0

// Групповые селекторы
%text-default
  font-family: $font-family-body
  color: $primary-color

%text-accent-link
  color: $accent-color
  text-transform: uppercase

// Функции
@function color-hover($color)
  @return color.adjust($color, $lightness: -10%)

@function text-color($color) 
  @return $color

// Основные стили
body
  @extend %text-default
  font-size: $font-size-body

// Заголовки с индивидуальными размерами
h1
  font-size: 48px
  @media (max-width: 992px)
    font-size: 40px

h2
  font-size: 38px
  font-weight: 700
  @media (max-width: 768px)
    font-size: 16px

h3
  font-size: 28px
  @media (max-width: 992px)
    font-size: 20px

h4
  font-size: 22px
  @media (max-width: 992px)
    font-size: 19px
  margin-bottom: 20px

// Общий стиль для кнопки в header
.btn-gradient
  background: linear-gradient(to bottom, #4CE2FF, #1EACC7)

// Стили для header
.header-bg
  background-image: url('../img/uber_bg.png')
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  width: 100%

.header-top
  background-color: #212121
.header-top-nav
  &__menu-btn
    background: none
    border: none
    box-shadow: none
  &__menu-btn:focus
    outline: none
    box-shadow: none
  &__menu-btn:active
    outline: none
    box-shadow: none

// Стилизация навигационного списка в header-top
  .primary-nav
    display: flex
    justify-content: space-between
    align-items: stretch
    width: 100%
    padding: 0
    margin: 0
    &__li
      flex: 1
      text-align: center
      display: flex
      align-items: center
      justify-content: center
      &:not(:last-child)
        padding-right: 15px
        border-right: 1px dashed #000
        @media (max-width: 992px)
          border-right: none
    &__a
      display: block
      width: 100%
      color: #fff
      text-decoration: none
      transition: color 0.3s
      font-size: 13px
      @media (max-width: 1400px)
        font-size: 10px

.header-middle
  background: rgba(0, 0, 0, .5)
  &__contacts
    padding: 1em 0
    color: #fff
  &__contacts-text
    font-weight: 300
    font-size: 12px
    margin: 0
  &__contacts-tel
    font-weight: 400
  &__btn
    font-weight: 400
    text-transform: uppercase
    color: #fff
    padding: 16px 26px
    font-size: 14px
    @media (max-width: 1400px)
      padding: 16px 18px
      font-size: 10px
    @media (max-width: 992px)
      padding: 16px 10px
      font-size: 9px
    @media (max-width: 768px)
      padding: 10px 26px
    &:hover
      background-color: color-hover(#1EACC7)

.header-bottom
  &__description
    height: 34em
    color: #fff
    @media (max-width: 992px)
      text-align: center
    @media (max-width: 768px)
      text-align: center
  &__text
    @media (max-width: 768px)
      display: none
  &__paragraph
    font-size: 18px
    font-weight: 400
    @media (max-width: 992px)
       font-size: 14px
  &__btn
    padding: 16px 26px
    font-weight: 400
    font-size: 14px
    text-transform: uppercase
    color: #fff
    @media (max-width: 768px)
      padding: 10px 26px
  &__btn-big
    font-size: 18px

// Стили для main
.main-section
  &__btn_black
    +btn($bg-color, $secondary-color)
  &__btn_white
    +btn($secondary-color, $bg-color)
  &__subtitle_black
    +subtitle($primary-color)
  &__subtitle_white
    +subtitle($secondary-color)
  &__text_black
    color: text-color($primary-color)
  &__text_white
    color: text-color($secondary-color)

// Стилизация первой секции main
.wrapper-first
  background-color: #fff

.main-first
  &__benefit-card
    border: none
    min-height: 350px
  &__icon
    display: block
    border-radius: 50%
    width: 116px
    height: 116px

.card-title.main-first__title
  font-size: 17px
  color: #1EACC7

// Стилизация второй секции main
.wrapper-second
  border: 1px solid rgba(30, 172, 199, 0.15)
  background-image: url('../img/mobile_bg.png')
  background-size: cover
  background-position: center
  background-repeat: no-repeat

.main-second
  &__item-card
    border-radius: 0
  &__img-btn
    width: 100%
    height: 100%
    border-radius: 50%
  &__name
    text-transform: uppercase
    font-weight: 300

.add-btn
  border: none
  padding: 0
  border-radius: 50%

// Стилизация третьей секции main
.wrapper-third
  &__subtitle-car
    @media (max-width: 768px)
      display: none
  &__text-car
    @media (max-width: 768px)
      display: none
  background: linear-gradient(#070716 60%, transparent 60%), url('../img/mobile_bg.png') no-repeat center bottom / cover
  @media (max-width: 768px)
    background: #070716
    height: auto
  
  .main-third
    &__description-car
      font-size: 17px
      color: #222222
      @media (max-width: 768px)
        color: $secondary-color

// Стилизация четвертой секции main
.main-fourth
  &__listname_blue
    +listname($accent-color)
  &__listname_red
    +listname($tertiary-color)
  &__cheklist_blue
    +checklist('../icons/check-blue.png')
  &__cheklist_red
    +checklist('../icons/check-red.png')
  &__cheklist-item
    padding-left: 0.5em
    font-weight: 300
    font-size: 17px
    margin-bottom: 8px
    line-height: 1.5
    vertical-align: middle 

// Стилизация пятой секции main
.wrapper-fifth
  background-image: url('../img/world_bg.png')
  background-size: cover
  background-position: center
  background-repeat: no-repeat
.main-fifth
  min-height: 720px
  @media (max-width: 768px)
    min-height: 360px
  &__link-transperent
    @extend %text-accent-link
    font-size: 15px
    text-decoration: none
    cursor: pointer
    &:hover
      text-decoration: underline

// Стили для footer
.footer-section
  &::before
    content: ""
    position: absolute
    top: 20px
    left: 50%
    transform: translateX(-50%)
    width: 300px
    height: 7px
    background-color: #1FBAD6
    @media (max-width: 768px)
      width: 243px
      height: 6px
  &__lang
    @extend %text-accent-link
    font-size: 11px
    @media (max-width: 1400px)
      font-size: 10px
  &__socials
    position: absolute
    left: 24px
    top: 50%
    transform: translateY(-50%)
    @media (max-width: 768px)
      position: static
      display: flex
      justify-content: center
      margin-bottom: 24px
  &__icon
    width: 2.2em
    height: 2.2em
    @media (max-width: 992px)
      width: 1.8em
      height: 1.8em
  &__sponsors
    position: absolute
    right: 24px
    top: 50%
    transform: translateY(-50%)
    @media (max-width: 768px)
      position: static
      display: flex
      justify-content: center
      margin-bottom: 30px
  &__sponsor
    @media (max-width: 1400px)
      width: 15em
    @media (max-width: 992px)
      width: 11em

// Стилизация навигационного списка в footer
  .navigation-list
    width: 100%
    &__link-nav
      text-transform: uppercase
      font-weight: 500
      font-size: $font-size-body
      @media (max-width: 992px)
        font-size: 10px
    &__link-nav a
      color: $prim-link-color

// Стилизация навигационного списка в footer
  .info-list
    width: 100%
    &__link-info
      text-transform: uppercase
      font-size: 11px
      @media (max-width: 992px)
        font-size: 8px
    &__link-info a
      color: $link-color
